/*COMMON STYLE*/
.wrapper{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1145px;
    margin: 0 auto;
}

/*HEADER STYLE*/
.header-nav__list{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.header-nav__item{
margin: 0 32px;
}

.header-nav__link{
    color: #FF0000;
    text-transform: uppercase;
    padding: 20px;
}

/*MAIN STYLE*/
/*SECTION PHOTO STYLE*/
.img{
    width: 100%;
}

/*ARTICLE STYLE*/
.article{
text-align: center;
}

.article__title{
    margin: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.article__text{
    margin-bottom: 25px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button{
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    display: inline-block;
    margin: 41px;
    padding: 18px 43px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}

/*FOOTER*/
.footer__wrapper{
    text-align: right;
    margin: 58px 15px 29px;
}

.footer__text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}